

<div class="main">

  <div class="calendar-container">
    <h1>Réservation</h1>
    <iframe
      src="https://www.bookingmood.com/embed/cdf71bf1-88f4-47bc-a3ff-fbcc9d410c4a?"
      style="width:100%;border:none">
    </iframe>
    <script src="https://www.bookingmood.com/js/resize.js"></script>
  </div>

</div>

<style>
.main {
  display: flex;
  flex-direction: column;
  background-color: rgba(202, 194, 177)
}

.calendar-container {
  padding-top: 5rem;
  text-align: center;
}

.calendar-container h1 {
  padding: 1rem 0;
}
</style>
