<div class="main">

  <div class="img-full-container">
    <img src="https://res.cloudinary.com/dinxoqq5s/image/upload/v1737733013/Cap%20Ma/IMG_4557_frebv5.jpg" alt="">
  </div>


  <div class="titles">
    <h1>Villa la Houle</h1>
    <h4>Cap Malheureux</h4>
    <p>Mauritius</p>
  </div>

  <div class="img-full-container">
    <img src="https://res.cloudinary.com/dinxoqq5s/image/upload/v1737733011/Cap%20Ma/IMG_4544_bmk9je.jpg" alt="">
  </div>

  <div class="promo-text">
    <h6>
      Découvrez le charme de Villa La Houle, une maison de plage paisible nichée au bord de la mer, à quelques pas de la dynamique Grand Baie.
        <br>
        <br>
      Avec ses trois chambres magnifiquement aménagées, ce havre côtier est parfait pour les familles ou les groupes en quête de détente et de tranquillité.
    </h6>
  </div>

  <div class="img-full-container">
    <img src="https://res.cloudinary.com/dinxoqq5s/image/upload/v1737733022/Cap%20Ma/IMG_4570_umq0qp.jpg" alt="">
  </div>

  <div class="offer-container">
      <h1>What We Offer</h1>
      <div class="row">
        <div class="el">
          <img src="https://res.cloudinary.com/dinxoqq5s/image/upload/v1737998243/Cap%20Ma/wi-fi-icon_qfmmlz.png" alt="">
          <h5>Wifi</h5>
        </div>
        <div class="el">
          <img src="https://res.cloudinary.com/dinxoqq5s/image/upload/v1737998243/Cap%20Ma/sunset_z0yyx5.png" alt="">
          <h5>Beach Access</h5>
        </div>
        <div class="el">
          <img src="https://res.cloudinary.com/dinxoqq5s/image/upload/v1737998243/Cap%20Ma/ooooooooooooooooooooooooooooooooooo_qixuea.png" alt="">
          <h5>Private Pool</h5>
        </div>
        <div class="el">
          <img src="https://res.cloudinary.com/dinxoqq5s/image/upload/v1737998242/Cap%20Ma/car_vroxb3.png" alt="">
          <h5>Parking</h5>
        </div>
      </div>
      <div class="row">
        <div class="el">
          <img src="https://res.cloudinary.com/dinxoqq5s/image/upload/v1737998243/Cap%20Ma/cutlery_ydryhj.png" alt="">
          <h5>Kitchen</h5>
        </div>
        <div class="el">
          <img src="https://res.cloudinary.com/dinxoqq5s/image/upload/v1737998243/Cap%20Ma/air-conditioner_ccmdih.png" alt="">
          <h5>Air Con</h5>
        </div>
        <div class="el">
          <img src="https://res.cloudinary.com/dinxoqq5s/image/upload/v1737998242/Cap%20Ma/television_v1rkyx.png" alt="">
           <h5>TV</h5>
        </div>
      </div>
    </div>


      <%= render 'layouts/video' %>


</div>


<style>

.main {
  display: flex;
  flex-direction: column;
  background-color: rgba(202, 194, 177)
}

.titles {
  text-align: center;
  padding: 3rem 0;

}

.titles * {
  padding: 1rem;
}

.promo-text {
  padding: 5rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.promo-text * {
  align-self: center;
  width: 33rem;
}

.img-text-container {
  height: 100vh
}

.img-text-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;

}

.img-full-container {
  height: 100vh
}

.img-full-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.offer-container {
  padding: 3rem 0 0 0;
  align-self: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.row {
  display: flex;
  align-self: center;
  padding: 2rem 0 0 0;

}

.el {
  text-align: center;
  margin: 1rem 2rem;
}

.el img {
  height: 100px;
  padding: 0 0 1rem 0;
}


@media all and (max-width: 700px) {
  .row {
    flex-direction: column;
  }

  .promo-text * {
  width: 18rem;
}
}
</style>
