<h1>test</h1>
<h1>test</h1>
<h1>test</h1>
<h1>test</h1>

<div class="main">

  <div class="offer-container">
    <div class="row">
      <div class="el">
        <h5>Wifi</h5>
        <img src="https://res.cloudinary.com/dinxoqq5s/image/upload/v1737998243/Cap%20Ma/wi-fi-icon_qfmmlz.png" alt="">
      </div>
      <div class="el">
        <h5>Beach Access</h5>
        <img src="https://res.cloudinary.com/dinxoqq5s/image/upload/v1737998243/Cap%20Ma/sunset_z0yyx5.png" alt="">
      </div>
      <div class="el">
        <h5>Private Pool</h5>
        <img src="https://res.cloudinary.com/dinxoqq5s/image/upload/v1737997059/Cap%20Ma/swimming-pool_bqk2xi.png" alt="">
      </div>
      <div class="el">
        <h5>Parking</h5>
        <img src="https://res.cloudinary.com/dinxoqq5s/image/upload/v1737998242/Cap%20Ma/car_vroxb3.png" alt="">
      </div>
    </div>
    <div class="row">
      <div class="el">
        <h5>Kitchen</h5>
        <img src="https://res.cloudinary.com/dinxoqq5s/image/upload/v1737998243/Cap%20Ma/ooooooooooooooooooooooooooooooooooo_qixuea.png" alt="">
      </div>
      <div class="el">
        <h5>Air Con</h5>
        <img src="https://res.cloudinary.com/dinxoqq5s/image/upload/v1737998243/Cap%20Ma/air-conditioner_ccmdih.png" alt="">
      </div>
      <div class="el">
        <h5>TV</h5>
        <img src="https://res.cloudinary.com/dinxoqq5s/image/upload/v1737998242/Cap%20Ma/television_v1rkyx.png" alt="">
      </div>
    </div>
  </div>

<style>
.main {
  display: flex;
  flex-direction: column;
  background-color: rgba(202, 194, 177)
}

.offer-container {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-self: center;
}

.el {
  text-align: center;
  margin: 1rem 2rem;
}

.el img {
  height: 100px;
}
</style>

</style>
