<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-background-color">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://res.cloudinary.com/dinxoqq5s/image/upload/v1737813962/Cap%20Ma/cropped_circle_white_background_vlzjlp.png" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active menus">
            <%= link_to "Home", root_path %>
          </li>
          <li class="nav-item active menus">
            <%= link_to "Gallery", gallery_path %>
          </li>
      </ul>
    </div>
  </div>
</div>


<style>

.navbar-lewagon {
  position: fixed; /* Makes the navbar stay at the top of the viewport */
  top: 0;
  left: 0;
  width: 100%; /* Ensures the navbar spans the entire width */
  z-index: 10; /* Places the navbar above other content */
  background: rgba(202, 194,177, 0.8); /* Makes the navbar transparent */}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.menus {
  padding: 1rem;
}


</style>
